p Hello,
|
|
p 
  | #{managerName} has requested changed to report 
  a(href=reportPath) #{displayId} 
  |
if comments
  p #{managerName} left the following comments:
  blockquote #{comments}
p Access this report in the TTA Smart Hub:  
  a(href=reportPath)
|
| Best Regards,
| Your TTA Hub Team

